body {
  margin: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.navigation-header {
  background-color: #0c3e6a;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DDDDDD;
}

.navigation-header img {
  height: 80px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  cursor:pointer;
}

.navigation-links-left {
  display: flex;
  justify-content: right;
}

.navigation-links-right {
  display: flex;
  justify-content: left;
}

.navigation-links-left Button {
  color: white;
  padding: 20px;
  border-radius: 0px;
}

.navigation-links-left Button:hover {
  background-color: #1f5384;
}

.navigation-links-right Button {
  color: white;
  padding: 20px;
  border-radius: 0px;
}

.navigation-links-right Button:hover {
  background-color: #1f5384;
}

.footer {
  position:absolute;
  text-align: center;
  bottom: 0px; 
  width: 100%;
}

.navigation-menu-button {
  position: absolute;
  top: 0px;
}