body {
  margin: 0px;
}

#home {
  animation: fadeIn 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(73, 88, 198), rgb(29, 9, 158));
}

#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 1000px;
}

#home-container-interior {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  /* border: solid #f33; */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    overflow: hidden;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    overflow: hidden;
  }
}


#home-desktop {
  margin-left: 28%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 400px;
  animation: slide-right 1s forwards;
}

#home-laptop {
  position: absolute;
  height: 250px;
  bottom: 80px;
  left: 40px;
  animation: slide-left 1s forwards;
}

#home-tablet {
  position: absolute;
  height: 180px;
  bottom: 100px;
  right: -54px;
  animation-delay: 1s;
  animation: slide-right 1s forwards;
}

#home-mobile {
  position: absolute;
  height: 120px;
  bottom: 100px;
  right: -70px;
  animation-delay: 2s;
  animation: slide-right 1s forwards;
}