body {
  margin: 0px;
}

#home {
  animation: fadeIn 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20%;
  /* background-image: linear-gradient(rgb(73, 88, 198), rgb(29, 9, 158)); */
}

#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-container-interior {
  display: flex;
  position: relative;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-right {
  from {
    transform: translateX(100%);
    overflow: hidden;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    overflow: hidden;
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-100%);
    overflow: hidden;
    opacity: 0;
  }
  to {
    transform: translateX(0);
    overflow: hidden;
    opacity: 1;
  }
}

#home-desktop {
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  object-fit: contain;
  animation: slide-right 3s forwards;
}

#home-laptop {
  position: absolute;
  height: 55%;
  bottom: -5%;
  left: -25%;
  animation: slide-left 3s forwards;
}

#home-tablet {
  position: absolute;
  height: 42%;
  bottom: -2%;
  right: -10%;
  animation: slide-right 3s forwards;
}

#home-mobile {
  position: absolute;
  height: 30%;
  bottom: -3%;
  right: -15%;
  animation: slide-right 3s forwards;
}