body {
  margin: 0px;
}

.navigation-header {
  background-color: #0c3e6a;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DDDDDD;
}

.navigation-header img {
  height: 80px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  cursor:pointer;
}

.navigation-links {
  display: flex;
}

.navigation-links Button {
  color: white;
  padding: 16px;
  border-radius: 0px;
}

.navigation-links Button:hover {
  background-color: #1f5384;
}